* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Inizio Debug */

.debug footer {
    border-style: dashed;
    border-color: blue;
}

.debug .sidebar {
    border-style: dashed;
    border-color: aqua;
}

.debug .content-nav {
    height: 50px;
    border-style: dashed;
    border-color:blueviolet;
}

.debug .cover-container {
    border-style: dashed;
    height: 200px;
    background-color: crimson;
}

/* Fine Debug *********/

/* Inizio Utility */

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.overflow {
    overflow-y: scroll;
}

.ls-none {
    list-style: none;
}

.right-text {
    text-align: end;
    padding-right: 20px;
}

.centered {
    text-align: center;
}

.white-text {
    color: white;
}

.grey-text {
    color: rgb(120, 120, 120);
}

.d-none {
    display: none;
}

.a-self-middle {
    align-self: center;
    padding-top: 15px;
    padding-left: 5px   ;
}

.smaller-font {
    font-size: 12px;
}

/* Fine Utility *********/

/* Inizio Codice Principale */

main {
    height: calc(100vh - 100px);
    overflow-y: hidden;
}

aside {
    width: 50px;
    background-color: black
}

.logo{
    max-width: 100%;
    height: 50px;
    align-items: end;
    padding-left: 8px;
    border-color: white;
}
.logo img {
    width: 30px;
}

.content {
    width: calc(100% - 50px);
    background-color: rgb(20, 25, 34);
}

.upgrade {
    position: fixed;
    left: 50px;
    top: 0;
    height: 50px;
    background-color: rgb(8, 11, 18, 0.7);
    width: calc(100% - 50px);
    padding-top: 5px;
}

.white-button {
    display: inline-block;
    border-color: white;
    border: solid 1px;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 12px;
}

.icon-nav img {
    height: 25px;
    margin-top: 10px;
    padding-left: 8px;
}

.create-playlist {
    background-color: rgb(120, 120, 120);
    margin-left: 8px;
    font-size: 1rem;
    padding: 5px;
}

.playlists li {
    padding-left: 8px;
    margin: 1rem 0;
}

.sidebar {
    min-height: 600px;
}

.sidebar-top {
    height: calc(100% - 100px);
}

.sidebar-bottom {
    height: 100px;
    background-color: blue;
}

.song-cover {
    width: 50%;
}

.cover-container {
    margin: 20px;
}

.content-nav {
    margin-top: 80px;
}

footer {
    height: 100px;
    background-color: rgb(40, 40, 40)
}

/* Fine Codice Principale *********/


/* Inizio Responsive */

@media screen and (min-width: 576px) {
    .sidebar {
        width: 200px;
    }
    .content {
        width: calc(100% - 200px);
    }
    .upgrade {
        width: calc(100% - 200px);
        left: 200px;
    }
    .logo h3 {
        display: inline-block;
        padding-left: 5px;
    }
    .icon-nav span {
        display: inline-block;
    }
    .playlist h5 {
        display: inline-block;
        padding: 8px;
        margin-top: 1rem;
    }
    .your-playlist {
        display: block;
    }
    .playlists {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .song-cover {
    width: 25%
    }
}

@media screen and (min-width: 992px) {
    .song-cover {
    width: calc(100% / 6);
    }
}

/* Fine Responsive *********/